body {
    font-size: 12px;
    color: black;
    background-color:white;
   
}
input[type=text] {

    width: 300px;
    height: 30px;
}

table {
    width: 100%;
    
}
tr {
    vert-align:top
}
.td {
    width: 50%;
    text-align: left;
    
   
}
fieldset {
    border: 0px none white;
    
}
legend {
    font-size: 14px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

textarea {

    width: 300px;

    overflow: visible !important;
    resize: both !important;
}
  