<?xml version="1.0"?>
<configuration>
  <configSections>    
    <section name="AppErrorSettings"
           type="Sars.Systems.Logger.ApplicationErrorSettings, Sars.Systems.Logger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=72e00ce3ef8d7fc4"
           allowLocation="true"
           allowDefinition="Everywhere" />
  </configSections>
 

  <AppErrorSettings
    connection="logging"
    sendMail="true"
    hashedConnection="false"
    appName="Survey"
    contactsPath="D:\Inetpub\wwwroot\Lists\Contacts\Contacts.xml"
    errorPath="D:\Inetpub\wwwroot\Lists\Errors\"
    errorPage="~/Logging/ErrorPage.aspx"
    smtpHost="bSz48IooOexrgC4d2mw5eG8XOTjKoXsI"/>

  <connectionStrings>
    <add name="logging" connectionString="Data Source=.; Initial Catalog=Logging;uid=sa;pwd=P@ssw0rd; Persist Security Info=True" />
  </connectionStrings>
  
    <system.web>

    </system.web>


  <system.webServer>
    <modules>
      <add name="ErrorLogger"    
           type="Sars.Systems.Logger.ErrorLogger, Sars.Systems.Logger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=72e00ce3ef8d7fc4" />
    </modules>
  </system.webServer>
</configuration>
